

<nav>

  <div class="nav-content">
    <h1 class="logo">Stefania Cavazos</h1>

    <div class="menu">
      <a routerLink="/counter" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">Contador</a>
      <a routerLink="/hero" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">Hero</a>
      <a routerLink="/dragonball" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">Dragonball</a>
      <a routerLink="/dragonball-super" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">Dragonball Super</a>
    
    </div>
  </div>


</nav>

