<div class="page">

  @if (showMessage) {
    <div class="alert-card">
    <h3>🎉 ¡Llegaste a 10!</h3>
    <p>FELICIDADES ✨</p>
  </div>
  }

  @if (showMessage2) {
    <div class="alert-card">
    <h3>🎉 ¡Llegaste a -10!</h3>
    <p>FELICIDADES ✨</p>
  </div>
  }


  <div class="card">

    <div class="counter-box">
      <h1>Counter</h1>
      <p class="counter-value">{{ counter }}</p>
    </div>

    <hr>

    <h1>Counter Signal: {{ counterSignal() }}</h1>

    <div class="row">
      <button (click)="increaseBy(1)" [disabled]="isBlocked">+1</button>
      <button (click)="decreaseBy(1)" [disabled]="isBlocked">-1</button>
      <button (click)="resetCounter()"[disabled]="isBlocked">Reset</button>
    </div>

  </div>
</div>
